.menu-list {
  gap: 100px;
  margin-left: 186px;
  padding-left: 0;
  margin-bottom: 92px;
  display: flex;
}

.header-content {
  list-style: none;
  font-family: $fonts-Playfair-Display;
    .item-link{
      text-decoration: none;
      color: $color-for-nav;
      &:hover{
        color: $color-for-hover-a;
      }
    }
    .active{
      color: $color-for-hover-a;
    }
  }


